{% load static %}

<section class="mb-8">
   <div class="container relative">
      <div class="flex w-full flex-col justify-between gap-4 md:flex-row">
         <a href="#">
            <img
               alt=""
               class="rounded-base"
               src="{% static 'assets/images/banners/category-right.jpg' %}"
            />
         </a>
         <a href="#">
            <img
               alt=""
               class="rounded-base"
               src="{% static 'assets/images/banners/category-left.jpg' %}"
            />
         </a>
      </div>
   </div>
</section>
