{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="icon"
         type="image/x-icon"
         href="{% static 'images/logo-8.png' %}"
      />
      <style>
         @font-face {
            font-family: Shabnam;
            src: url("{% static 'fonts/Shabnam-Medium-FD.ttf' %}");
         }
         @font-face {
            font-family: vazir_code;
            src: url("{% static 'fonts/Vazir-Code-FD.ttf' %}");
         }
         @font-face {
            font-family: Nahid;
            src: url("{% static 'fonts/Nahid-FD.ttf' %}");
         }
         @font-face {
            font-family: Samim;
            src: url("{% static 'fonts/Samim-Bold-FD.ttf' %}");
         }
      </style>

      <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}" />
      <title>لیست محصولات</title>
   </head>

   <body>
      {% include 'navbar.html' %}

      <!-- Start Content -->
      <div class="container py-5">
         <div class="row">
            <!-- Categories -->
            <div class="col-lg-3">
               <h1 class="h2 pb-4">دسته بندی ها</h1>

               <ul class="list-unstyled templatemo-accordion form-group">
                  <form action="{% url 'shop:product_list' %}">
                     <h4>فیلتر قیمت</h4>
                     <div class="form-group">
                        <label for="min_price">پایین ترین قیمت</label>
                        <input
                           class="form-control"
                           type="text"
                           value=""
                           id="min_price"
                           name="min_price"
                           required
                        />
                     </div>

                     <div class="form-group">
                        <label class="col-4" for="max_price"
                           >بالاترین قیمت</label
                        >
                        <input
                           class="form-control col-2 cole-sm-2"
                           type="text"
                           value=""
                           id="max_price"
                           name="max_price"
                           required
                        />
                     </div>

                     <hr />

                     <div>
                        <h4>فیلتر رنگ</h4>
                        {% for color in colors %}
                        <div class="form-group">
                           <label for="colors">{{ color }}</label>
                           <input
                              name="colors"
                              value="{{ color }}"
                              type="checkbox"
                           />
                        </div>
                        {% endfor %}
                     </div>

                     <hr />

                     <div>
                        <h4>فیلتر سایز</h4>
                        {% for size in sizes %}
                        <div class="form-group">
                           <label for="colors">{{ size }}</label>
                           <input
                              name="sizes"
                              value="{{ size }}"
                              type="checkbox"
                           />
                        </div>
                        {% endfor %}
                     </div>

                     <hr />

                     <div class="col-md-12 pb-4">
                        <div class="d-flex">
                           <select class="form-control">
                              <option>Featured</option>
                              <option>A to Z</option>
                              <option>Item</option>
                           </select>
                        </div>
                     </div>

                     <button class="btn" type="submit">اعمال</button>
                  </form>
               </ul>
            </div>

            <div class="col-lg-9">
               <!-- products -->
               <div class="row">
                  <!-- product Item -->
                  {% for product in object_list %}

                  <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                     <a
                        href="{% url 'shop:product_detail' product.id product.slug|slice:'0:50'  %}"
                        class="text-decoration-none"
                        style="width: 100%"
                     >
                        <img
                           class="card-img rounded-0 img-fluid"
                           src="{{ product.cover.url }}"
                           style="
                              width: 100%;
                              aspect-ratio: 1;
                              object-fit: cover;
                              object-position: center top;
                           "
                        />
                     </a>

                     <div class="card-body px-0">
                        <a
                           href="{% url 'shop:product_detail' product.id product.slug|slice:'0:80'  %}"
                           class="text-decoration-none p-0 text-justify w-100"
                        >
                           {{ product.title|slice:'0:80' }}
                        </a>
                        <ul
                           class="w-100 list-unstyled d-flex justify-content-between mb-0"
                        >
                           <li>M/L/X/XL</li>
                        </ul>
                        <p class="text-center mb-0">
                           <span class="p-0">{{ product.price }}</span>
                        </p>
                     </div>
                  </div>

                  <!-- product Item -->
                  {% endfor %}
               </div>

               <!-- pagination -->
               <div div="row">
                  <ul class="pagination pagination-lg justify-content-end">
                     <li class="page-item disabled">
                        <a
                           class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                           href="#"
                           tabindex="-1"
                           >1</a
                        >
                     </li>

                     <li class="page-item">
                        <a
                           class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                           href="#"
                           >2</a
                        >
                     </li>

                     <li class="page-item">
                        <a
                           class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                           href="#"
                           >3</a
                        >
                     </li>
                  </ul>
               </div>

               <!-- end content -->
            </div>
         </div>
      </div>
      <!-- End Content -->

      <!-- Start Brands -->
      <section
         class="bg-light py-1"
         style="max-width: 100vw; overflow-x: hidden"
      >
         <div class="container my-1">
            <div class="row text-center py-1">
               <h1 class="h1">برند های محصولات</h1>

               <div class="col-lg-9 m-auto tempaltemo-carousel">
                  <div dir="rtl" class="row d-flex flex-row">
                     <!--Controls-->
                     <div class="col-1 align-self-center">
                        <a
                           class="h1"
                           href="#multi-item-example"
                           role="button"
                           data-bs-slide="next"
                        >
                           <i class="text-light fas fa-chevron-left"></i>
                           next
                        </a>
                     </div>
                     <!--End Controls-->

                     <!--Carousel Wrapper-->
                     <div class="col">
                        <div
                           class="carousel slide carousel-multi-item pt-2 pt-md-0"
                           id="multi-item-example"
                           data-bs-ride="carousel"
                        >
                           <!--Slides-->
                           <div
                              class="carousel-inner product-links-wap"
                              role="listbox"
                           >
                              <!--first slide-->
                              <div class="carousel-item active">
                                 <div class="row">
                                    {% for brand in brand_list %}

                                    <div class="col-3 p-md-5">
                                       <a href="">
                                          <img
                                             class="img-fluid brand-img"
                                             src="{{ brand.cover.url }}"
                                             alt="Brand Logo"
                                          />
                                       </a>
                                    </div>

                                    {% endfor %}
                                 </div>
                              </div>

                              <!--Second slide-->
                              <div class="carousel-item">
                                 <div class="row">
                                    {% for brand in brand_list %}

                                    <div class="col-3 p-md-5">
                                       <a href="">
                                          <img
                                             class="img-fluid brand-img"
                                             src="{{ brand.cover.url  }}"
                                             alt="Brand Logo"
                                          />
                                       </a>
                                    </div>

                                    {% endfor %}
                                 </div>
                              </div>
                           </div>
                           <!--End Slides-->
                        </div>
                     </div>
                     <!--End Carousel Wrapper-->

                     <!--Controls-->
                     <div class="col-1 align-self-center">
                        <a
                           class="h1"
                           href="#multi-item-example"
                           role="button"
                           data-bs-slide="prev"
                        >
                           prev
                           <i class="text-light fas fa-chevron-right"></i>
                        </a>
                     </div>
                     <!--End Controls-->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--End Brands-->

      <!-- Start Footer -->
      {% include 'footer.html' %}
      <!-- End Footer -->

      <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
   </body>
</html>
