{% load static %}

<!DOCTYPE html>

<html class="light-style customizer-hide" dir="rtl">
   <head>
      {% include 'users/includes/head.html' %}
      <title>بازنشانی رمز ورود</title>
      <link
         rel="icon"
         type="image/x-icon"
         href="{% static 'users/img/favicon/favicon.ico' %}"
      />
   </head>

   <body>
      <div class="container-xxl">
         <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
               <!-- Forgot Password -->
               <div class="card">
                  <div class="card-body">
                     <h4 class="mb-2">بازنشانی رمز ورود</h4>
                     <p class="mb-4">
                        آدرس الکترونیکی خود راوارد کنید ما برای شما لینک صفحه
                        تغییر رمز را ارسال میکنیم
                     </p>
                     <form
                        id="formAuthentication"
                        class="mb-3"
                        action="{% url 'users:change_password' %}"
                        method="post"
                     >
                        {% csrf_token %}

                        <div class="mb-3">
                           <label for="email" class="form-label"
                              >آدرس الکترونیکی</label
                           >
                           <input
                              type="text"
                              class="form-control"
                              id="email"
                              name="email"
                              autofocus
                           />
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                           ارسال لینک بازنشانی
                        </button>
                     </form>
                     <div class="text-center">
                        <a
                           href="{% url 'users:user_login' %}"
                           class="d-flex align-items-center justify-content-center"
                        >
                           <i
                              class="bx bx-chevron-left scaleX-n1-rtl bx-sm"
                           ></i>
                           بازگشت به صفحه ورود
                        </a>
                     </div>
                  </div>
               </div>
               <!-- /Forgot Password -->
            </div>
         </div>
      </div>

      <!-- / Content -->
      {% include 'users/includes/script.html' %}
   </body>
</html>
