{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="icon"
         type="image/x-icon"
         href="{% static 'images/logo-8.png' %}"
      />
      <style>
         @font-face {
            font-family: Shabnam;
            src: url("{% static 'fonts/Shabnam-Medium-FD.ttf' %}");
         }
         @font-face {
            font-family: vazir_code;
            src: url("{% static 'fonts/Vazir-Code-FD.ttf' %}");
         }
         @font-face {
            font-family: Nahid;
            src: url("{% static 'fonts/Nahid-FD.ttf' %}");
         }
         @font-face {
            font-family: Samim;
            src: url("{% static 'fonts/Samim-Bold-FD.ttf' %}");
         }
      </style>

      <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}" />
      <title>سبد خرید</title>
   </head>

   <body>
      {% include 'navbar.html' %} {% if request.user.cart.total_items > 0 %}
      <section class="container pt-5 pb-5" style="font-family: Nahid">
         <div class="row">
            <div class="col-12 col-md-12 col-lg-10 mx-auto">
               <h1 class="mb-1">سبد خرید</h1>

               <table
                  id="shoppingCart"
                  class="table table-condensed table-responsive"
               >
                  <thead>
                     <tr>
                        <th data-th="Product" style="width: 30%">محصول</th>
                        <th data-th="Quantity" style="width: 10%">تعداد</th>
                        <th data-th="Price" style="width: 12%">قیمت</th>
                     </tr>
                  </thead>
                  <tbody id="cart_item_list_tag">
                     {% for cartItem in cart %}

                     <tr id="{{ cartItem.id }}" class="cart_item_tag">
                        <td data-th="Product">
                           <div class="row">
                              <div class="col-md-3 text-left">
                                 <img
                                    src="{{ cartItem.product.cover.url }}"
                                    alt=""
                                    class="img-fluid"
                                    width="100"
                                    height="100"
                                 />
                              </div>
                              <div class="col-md-9 text-left mt-sm-2">
                                 <h5>
                                    {{ cartItem.product.title|slice:'0:80' }}
                                 </h5>
                                 <div class="font-weight-light">
                                    برند :
                                    <span>{{ cartItem.product.brand }}</span>
                                 </div>
                                 <div class="font-weight-light">
                                    دسته بندی :
                                    <span>
                                       {{ cartItem.product.category }}
                                    </span>
                                 </div>

                                 <div class="font-weight-light">
                                    سایز :
                                    <span>
                                       {{ cartItem.product_type.title}}
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </td>

                        <td data-th="Quantity">
                           <select
                              id="qtySelectHandler"
                              class="form-control"
                              onchange="(() => {
												qtyChangeHandler(id='{{cartItem.id}}', value= this.value)
											})()"
                           >
                              {% for num in cartItem.range_qty %}

                              <option
                                 value="{{ num }}"
                                 id="option-{{cartItem.id}}-{{num}}"
                                 class=""
                              >
                                 {% if num == 0 %}
                                 <span>{{ num }} - حذف</span>
                                 {% else %}
                                 <span>{{ num }}</span>
                                 {% endif %}
                              </option>

                              <script>
                                 if ("{{num}}" === "{{cartItem.quantity}}") {
                                    document
                                       .querySelector(
                                          "#option-{{cartItem.id}}-{{num}}"
                                       )
                                       .setAttribute("selected", "true");
                                 }
                              </script>

                              {% endfor %}
                           </select>

                           <div class="text-right mt-4">
                              <button
                                 id="deleteItemBtn"
                                 class="btn btn-white border-secondary bg-white btn-md mb-2"
                                 onclick="deleteItemHandler(id = '{{ cartItem.id }}')"
                              >
                                 حذف
                              </button>
                           </div>
                        </td>

                        <td data-th="Price">
                           <span
                              id="cartItemPrice-{{ cartItem.id }}"
                              class="en_to_fa_number"
                              >{{ cartItem.get_price }}</span
                           >
                           تومان
                        </td>
                     </tr>

                     {% endfor %}
                  </tbody>
               </table>

               <div class="mt-3">
                  <div class="d-flex">
                     <span class="ms-3">جمع کل سبد خرید :</span>
                     <span id="cartTotalPrice" class="en_to_fa_number ms-3">
                        {{ request.user.cart.total_price }}
                     </span>
                     <span class="ms-3">تومان</span>
                  </div>
                  <div
                     class="d-flex justify-content-between align-items-center mt-4 px-3"
                  >
                     <div class="text-start p-0">
                        <a href="{% url 'shop:product_list' %}">ادامه خرید</a>
                     </div>

                     <div class="text-end p-0">
                        <a
                           href="{% url 'cart:checkout_shipping' %}"
                           class="btn btn-primary p-2"
                        >
                           ثبت سفارش
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% else %}
      <section class="container">
         <div class="row">
            <div class="col-12 col-md-8 py-5 mx-auto text-center">
               <h6 class="display-6" style="font-family: Shabnam">
                  سبد خرید شما خالی است
               </h6>
               <img
                  src="{% static 'images/empty_cart.jpg' %}"
                  width="300px"
                  height="300px"
                  style="object-fit: cover; object-position: top center"
               />
               <a
                  href="{% url 'shop:home_page' %}"
                  style="font-family: Nahid; display: block"
                  >ادامه خرید</a
               >
            </div>
         </div>
      </section>
      {% endif %}

      <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'cart/js/axios-handler.js' %}"></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
         integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      ></script>
   </body>
</html>
