@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @apply scroll-smooth;
   }
   * {
      @apply scrollbar scrollbar-track-white scrollbar-thumb-zinc-400 scrollbar-thumb-rounded-3xl scrollbar-w-1 hover:scrollbar-thumb-zinc-500 dark:scrollbar-track-zinc-900 dark:scrollbar-thumb-zinc-800 hover:dark:scrollbar-thumb-zinc-700 md:scrollbar-w-1;
   }

   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
   }

   /* Color Mode transition */
   ::view-transition-old(root),
   ::view-transition-new(root) {
      animation: none;
      mix-blend-mode: normal;
   }

   ::view-transition-old(root) {
      z-index: 1;
   }

   ::view-transition-new(root) {
      z-index: 2147483646;
   }

   .dark::view-transition-old(root) {
      z-index: 2147483646;
   }

   .dark::view-transition-new(root) {
      z-index: 1;
   }
}

@layer components {
   .swiper .swiper-pagination-bullet {
      @apply bg-emerald-500 dark:bg-emerald-400;
   }

   .swiper-button-prev,
   .swiper-button-next {
      @apply h-8 w-8 rounded-full border border-gray-300 bg-white shadow-base dark:border-zinc-600 dark:bg-zinc-700;
   }

   .swiper-button-prev::after,
   .swiper-button-next:after {
      @apply text-xs font-bold text-zinc-500 transition-colors duration-150 hover:text-zinc-700 dark:text-zinc-300 hover:dark:text-white;
   }

   .swiper-thumb-active {
      @apply !border-2 !border-emerald-500 dark:!border-emerald-400;
   }

   .accordion-content {
      transition: max-height 0.3s ease-out, padding 0.3s ease;
   }

   /* Border Color Effect Styles */
   .dark .border-gradient::before {
      background: radial-gradient(300px circle at var(--x) var(--y), #34d399 0, #059669 50%, transparent 100%);
      @apply hidden lg:block;
   }

   .border-gradient::before {
      background: radial-gradient(300px circle at var(--x) var(--y), #059669 0, #34d399 50%, transparent 100%);
      @apply hidden lg:block;
   }

   /* Active classes Section */
   /* Mega menu active (hover)  */
   .mega-menu-active {
      @apply bg-white text-emerald-500 dark:bg-zinc-900 dark:!text-emerald-400;
   }

   /* Shop Desktop Sort active  */
   .sort-button-active {
      @apply bg-gray-100 dark:bg-black text-emerald-500 dark:text-emerald-400;
   }

   /* Buttons */
   .btn-primary {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-emerald-500 text-white transition-colors duration-200 hover:bg-emerald-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-emerald-600 dark:hover:bg-emerald-700;
   }

   .btn-primary-nobg {
      @apply justify-center text-emerald-500 dark:text-emerald-400 hover:text-emerald-600 dark:hover:text-emerald-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-secondary {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-sky-500 text-white transition-colors duration-200 hover:bg-sky-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-sky-600 dark:hover:bg-sky-700;
   }

   .btn-secondary-nobg {
      @apply justify-center text-sky-500 dark:text-sky-400 hover:text-sky-600 dark:hover:text-sky-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-red {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-red-600 text-white transition-colors duration-200 hover:bg-red-700 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-red-700 dark:hover:bg-red-800;
   }

   .btn-red-nobg {
      @apply justify-center text-red-500 dark:text-red-400 hover:text-red-400 dark:hover:text-red-500 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-gray {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-gray-500 text-white transition-colors duration-200 hover:bg-gray-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-gray-600 dark:hover:bg-gray-700;
   }

   .btn-gray-nobg {
      @apply justify-center text-gray-500 dark:text-gray-400 hover:text-gray-600 dark:hover:text-gray-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-orange {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-orange-500 text-white transition-colors duration-200 hover:bg-orange-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-orange-600 dark:hover:bg-orange-700;
   }

   .btn-orange-nobg {
      @apply justify-center text-orange-500 dark:text-orange-400 hover:text-orange-600 dark:hover:text-orange-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-yellow {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-yellow-500 text-white transition-colors duration-200 hover:bg-yellow-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-yellow-600 dark:hover:bg-yellow-700;
   }

   .btn-yellow-nobg {
      @apply justify-center text-yellow-500 dark:text-yellow-400 hover:text-yellow-600 dark:hover:text-yellow-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-indigo {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-indigo-500 text-white transition-colors duration-200 hover:bg-indigo-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-indigo-600 dark:hover:bg-indigo-700;
   }

   .btn-indigo-nobg {
      @apply justify-center text-indigo-500 dark:text-indigo-400 hover:text-indigo-600 dark:hover:text-indigo-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-purple {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-purple-500 text-white transition-colors duration-200 hover:bg-purple-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-purple-600 dark:hover:bg-purple-700;
   }

   .btn-purple-nobg {
      @apply justify-center text-purple-500 dark:text-purple-400 hover:text-purple-600 dark:hover:text-purple-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-rose {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-rose-500 text-white transition-colors duration-200 hover:bg-rose-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-rose-600 dark:hover:bg-rose-700;
   }

   .btn-rose-nobg {
      @apply justify-center text-rose-500 dark:text-rose-400 hover:text-rose-600 dark:hover:text-rose-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .btn-pink {
      @apply flex items-center justify-center gap-x-1 rounded-lg bg-pink-500 text-white transition-colors duration-200 hover:bg-pink-600 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60 dark:bg-pink-600 dark:hover:bg-pink-700;
   }

   .btn-pink-nobg {
      @apply justify-center text-pink-500 dark:text-pink-400 hover:text-pink-600 dark:hover:text-pink-300 transition-colors duration-200 flex items-center gap-x-1 focus:outline-none disabled:cursor-not-allowed disabled:opacity-60;
   }

   .pagination-button {
      @apply h-8 w-8 rounded-full bg-white text-center leading-8 text-zinc-700 transition-all duration-200 hover:bg-emerald-500 hover:text-white dark:bg-zinc-900 dark:text-white hover:dark:bg-emerald-600;
   }

   .pagination-button-active {
      @apply bg-emerald-500 dark:bg-emerald-600 text-white;
   }

   .profile-menu {
      @apply text-zinc-700 dark:text-white hover:bg-gray-100 hover:dark:bg-zinc-800;
   }

   .profile-menu-active {
      @apply bg-emerald-500/10 hover:bg-emerald-500/10 dark:text-emerald-400 dark:bg-emerald-400/5 hover:dark:bg-emerald-400/5 text-emerald-500;
   }
}
