{% load static %}

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/bootstrap.rtl.min.css" />
   <link rel="icon" type="image/x-icon" href="./images/logo-8.png" />
   <style>
      @font-face {
         font-family: Shabnam;
         src: url("./fonts/Shabnam-Medium-FD.ttf");
      }
      @font-face {
         font-family: vazir_code;
         src: url("./fonts/Vazir-Code-FD.ttf");
      }
      @font-face {
         font-family: Nahid;
         src: url("./fonts/Nahid-FD.ttf");
      }
      @font-face {
         font-family: Samim;
         src: url("./fonts/Samim-Bold-FD.ttf");
      }
   </style>

   <title>بوت استرپ</title>
</head>
