{% load static %}

<!-- Navbar -->

<nav
   class="navbar navbar-expand-md bg-dark navbar-dark text-white"
   style="font-family: Shabnam"
>
   <div class="container-fluid">
      <button
         class="navbar-toggler"
         data-bs-toggle="offcanvas"
         data-bs-target="#offcanvas-menu"
         aria-controls="offcanvas-Label"
      >
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-brand">
         <a href="/" class="navbar-brand">دنیا</a>
      </div>

      <div
         class="offcanvas offcanvas-start bg-dark"
         tabindex="-1"
         id="offcanvas-menu"
         aria-labelledby="offcanvas-Label"
         style="max-width: 75%"
      >
         <div class="offcanvas-header border-bottom text-white mb-3">
            <h5 class="offcanvas-title" id="offcanvas-Label">سلام دنیا</h5>
            <button
               type="button"
               class="btn-close btn-close-white"
               data-bs-dismiss="offcanvas"
               aria-label="Close"
            ></button>
         </div>

         <ul class="navbar-nav mx-auto">
            <li class="nav-item">
               <a
                  class="nav-link text-white"
                  href="{% url 'shop:product_list' %}"
                  >حراج شده</a
               >
            </li>
            <li class="nav-item">
               <a
                  class="nav-link text-white"
                  href="{% url 'shop:product_list' %}"
                  >پرفروش ترین</a
               >
            </li>
            <li class="nav-item">
               <a
                  class="nav-link text-white"
                  href="{% url 'shop:product_list' %}"
               >
                  صفحه محصولات
               </a>
            </li>
            <li class="nav-item">
               <a
                  class="nav-link text-white"
                  href="{% url 'shop:product_list' %}"
                  >دسته بندی</a
               >
            </li>
         </ul>
      </div>

      <div class="d-flex gap-4 pe-1">
         <a
            class="nav-icon position-relative text-decoration-none mx-4"
            href="{% url 'cart:cart' %}"
         >
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="30"
               height="30"
               fill="currentColor"
               class="bi bi-cart2"
               viewBox="0 0 16 16"
            >
               <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
               />
            </svg>

            {% if request.user.cart.total_items > 0 %}
            <span
               class="badge rounded-pill bg-dark-subtle text-dark-emphasis en_to_fa_number"
               style="position: absolute; top: -12px; left: 5px"
            >
               {{ request.user.cart.total_items }}
            </span>
            {% endif %}
         </a>

         <span data-bs-theme="dark" class="dropdown">
            <a
               class="nav-link dropdown-toggle"
               href="#"
               id="navbarDarkDropdownMenuLinkSearch"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >
               {% if request.user.is_authenticated %}
               <span>{{ request.user.username }}</span>
               {% else %}
               <span>ورود</span>
               {% endif %}
            </a>

            <ul
               class="list-unstyled dropdown-menu dropdown-menu-end border-0 pt-3 mx-0 rounded-3"
               aria-labelledby="navbarDarkDropdownMenuLinkSearch"
            >
               <li>
                  <form class="p-2 mb-2 bg-dark border-bottom border-dark">
                     <input
                        type="search"
                        class="form-control bg-dark"
                        autocomplete="false"
                        placeholder="جستوجو"
                     />
                  </form>
               </li>

               {% if request.user.is_authenticated %}
               <!--  -->

               <li>
                  <a
                     class="dropdown-item d-flex align-items-center gap-2 py-3"
                     href="{% url 'users:dashboard' %}"
                  >
                     <span
                        class="d-inline-block bg-primary rounded-circle p-1"
                     ></span>
                     حساب کاربری
                  </a>
               </li>

               {% if request.user.is_staff %}
               <li>
                  <a
                     class="dropdown-item d-flex align-items-center gap-2 py-3"
                     href="/admin/"
                  >
                     <span
                        class="d-inline-block bg-success rounded-circle p-1"
                     ></span>
                     پنل ادمین
                  </a>
               </li>
               {% endif %}

               <li><hr class="dropdown-divider" /></li>

               <li>
                  <a
                     class="dropdown-item d-flex align-items-center gap-2 py-3"
                     href="{% url 'users:user_logout' %}"
                  >
                     <span
                        class="d-inline-block bg-danger rounded-circle p-1"
                     ></span>
                     خروج از حساب کاربری
                  </a>
               </li>
               {% else %}
               <li>
                  <a
                     class="dropdown-item d-flex align-items-center gap-2 py-3"
                     href="{% url 'users:user_login' %}"
                  >
                     <span
                        class="d-inline-block bg-success rounded-circle p-1"
                     ></span>
                     ورود حساب کاربری
                  </a>
               </li>

               <li>
                  <a
                     class="dropdown-item d-flex align-items-center gap-2 py-3"
                     href="{% url 'users:user_register' %}"
                  >
                     <span
                        class="d-inline-block bg-primary rounded-circle p-1"
                     ></span>
                     ایجاد حساب کاربری
                  </a>
               </li>
               {% endif %}
            </ul>
         </span>
      </div>
   </div>
</nav>
