{% load static %}

<!-- Header -->

<head>
   <link rel="apple-touch-icon" href="{% static 'shop/img/apple-icon.png' %}" />
   <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'shop/img/favicon.ico' %}"
   />
   <link rel="stylesheet" href="{% static 'shop/css/templatemo.css' %}" />
   <link rel="stylesheet" href="{% static 'shop/css/custom.css' %}" />
   <link rel="stylesheet" href="{% static 'shop/css/fontawesome.min.css' %}" />
   <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
   />
</head>

<nav
   dir="rtl"
   class="navbar navbar-expand-lg navbar-light shadow bg-white w-100"
>
   <div class="d-flex justify-between align-items-center w-100 px-4">
      <button
         class="navbar-toggler border-0"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#templatemo_main_nav"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation"
      >
         <span class="navbar-toggler-icon"></span>
      </button>

      <a
         class="navbar-brand text-success logo mx-5"
         href="{% url 'shop:home_page' %}"
      >
         جورگر
      </a>

      <div
         class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
         id="templatemo_main_nav"
      >
         <div class="flex-fill">
            <ul
               class="nav navbar-nav d-flex justify-content-between mx-xl-auto"
            >
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:product_list' %}">
                     حراج شده
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:product_list' %}">
                     پرفروش ترین
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:product_list' %}">
                     صفحه محصولات
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:product_list' %}">
                     دسته بندی
                  </a>
               </li>
               {% if request.user.is_staff %}
               <li class="nav-item">
                  <a class="nav-link" href="/admin/"> ادمین </a>
               </li>
               {% endif %}
            </ul>
         </div>

         <!--  -->

         <div class="navbar align-self-center d-flex">
            <!-- inputMobileSearch -->
            <!-- <div
               class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
            >
               <div class="input-group">
                  <input
                     type="text"
                     class="form-control"
                     id="inputMobileSearch"
                     placeholder="Search ..."
                  />
                  <div class="input-group-text">
                     <i class="fa fa-fw fa-search"></i>
                  </div>
               </div>
            </div> -->

            <!-- search -->
            <form
               dir="rtl"
               method="get"
               action="{% url 'shop:search' %}"
               style="
                  border: 1.5px solid grey;
                  border-radius: 3px;
                  overflow: hidden;
                  height: 45px;
                  margin: 0;
               "
            >
               <input
                  type="text"
                  name="query"
                  class="border-0"
                  style="
                     outline: none;
                     padding: 0px 10px 0 0;
                     height: 100%;
                     width: max-content;
                  "
               />
               <button
                  type="submit"
                  name="search"
                  class="border-0"
                  style="height: 100%; padding: 0 15px; margin: 0"
               >
                  <i class="fa fa-fw fa-search text-dark mr-2"></i>
               </button>
            </form>

            <!-- cart -->
            <a
               class="nav-icon position-relative text-decoration-none mx-5"
               href="{% url 'cart:cart' %}"
            >
               <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
               <span
                  class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
                  >7</span
               >
            </a>

            <!-- user dashboard -->
            <a
               class="nav-icon position-relative text-decoration-none"
               href="{% url 'users:dashboard' %}"
            >
               <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
         </div>
      </div>
   </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div
   class="modal fade bg-white"
   id="templatemo_search"
   tabindex="-1"
   role="dialog"
   aria-labelledby="exampleModalLabel"
   aria-hidden="true"
>
   <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
         <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
         ></button>
      </div>
      <form
         action=""
         method="get"
         class="modal-content modal-body border-0 p-0"
      >
         <div class="input-group mb-2">
            <input
               type="text"
               class="form-control"
               id="inputModalSearch"
               name="q"
               placeholder="Search ..."
            />
            <button
               type="submit"
               class="input-group-text bg-success text-light"
            >
               <i class="fa fa-fw fa-search text-white"></i>
            </button>
         </div>
      </form>
   </div>
</div>

<script src="{% static 'shop/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'shop/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'shop/js/templatemo.js' %}"></script>
<script src="{% static 'shop/js/custom.js' %}"></script>
